@import 'variables';
@import 'fuente';
@import 'navbar';
@import 'footer';
@import 'layout';
@import 'partners';
@import 'ventas';
@import 'cards';
@import 'media';

*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

